.navbar{
    align-items: center;
}

.navBarItem{
    color: black;
    text-decoration: none;
    align-items: center;
    text-align: left;
    margin: 0.5rem;
}

#navBarHome{
    font-size: 2rem;
}

.selected{
    color: red;
}
