.navbar{
    align-items: center;
}

.navBarItem{
    color: black;
    text-decoration: none;
    align-items: center;
    text-align: center;
    margin-top: 0.5rem;
}

.selected{
    color: red;
}
