#counterContainer{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: fit-content;
    padding: 1rem;
  }
  
  #counter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem;
    color: black;
  }

  #countQty{
    margin-top: 0.5rem;
  }

  #sign{
    color: black;
    background-color: white;
    border: 0px;
  }